<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>574151562025-f2p23ad99leqreshvdv1t8q1k89jdjhh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574151562025-f2p23ad99leqreshvdv1t8q1k89jdjhh</string>
	<key>API_KEY</key>
	<string>AIzaSyD-vTHlcRh1IuMl9SS1Gtc-WrJkVe99Rfk</string>
	<key>GCM_SENDER_ID</key>
	<string>574151562025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.ravendigital.me2i</string>
	<key>PROJECT_ID</key>
	<string>me2i-83f98</string>
	<key>STORAGE_BUCKET</key>
	<string>me2i-83f98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574151562025:ios:5a0bc5152e32fca4</string>
	<key>DATABASE_URL</key>
	<string>https://me2i-83f98.firebaseio.com</string>
</dict>
</plist>